<!DOCTYPE html>
<html lang="fr">
    <head>
        @{
            var icon = "/Images/favicon.png";
        }
        <title>Issy les Moulineaux - Points d'intérêt</title>
        <link rel="icon" href="@icon">
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Affiche les points d'intérêt sous forme de liste et de lieu géolocalisés d'Issy-les-Moulineaux." />
        <meta name="keywords" content="Issy-les-Moulineaux, Hauts-de-Seine, point d'intérêts, open-data, opendata, geolocalisation, geolocalise, données publiques, jeu de données, poi" />
        <meta name="msvalidate.01" content="4EA3E807B4591C7B7F6369E6A1AABC27" />
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en' rel='stylesheet' type='text/css'>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script>
            var isProd = '@ilm92.Configuration.IlmConfiguration.Current.IsProd.ToString().ToLower()' === 'true';
        </script>
    </head>
<body>
    <div id="fb-root"></div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vendors")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEA1EfblRa9_D2mPMk3zRM-pa-w1DNeC4&sensor=false"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
